<o-form-layout-manager attr="BloodVessel" mode="tab" title="BLOODVESSEL">
    <div fxFill fxLayout="column" fxLayoutAlign="start">
        <o-table 
            attr="BloodVesselTable" 
            service="BloodVessel" 
            entity="BloodVessel" 
            title="BLOODVESSEL"
            keys="id"
            columns="id;organ_id;Type;diameter" 
            header-actions="R;D"
            visible-columns="id;organ_id;Type;diameter"  
            sort-columns="id" 
            query-rows="20" 
            quick-filter="yes"
            row-height="medium" 
            select-all-checkbox="true" 
            pageable="yes"  
            auto-adjust="true" 
            virtual-scroll="yes" 
            edition-mode="dblclick"
            horizontal-scroll="yes"
            show-title="yes"
            export-button="yes">
            
            <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
            
            <o-table-column attr="organ_id" title="organ_id">
    <o-table-cell-renderer-service attr="organ_id" 
        service="Organ" entity="OrganType" columns="id;name"
        parent-keys="id:organ_id"
        value-column="name" keys="organ_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
            
            <o-table-column #Type attr="Type" title="Type" editable="no" required="no" content-align="left"></o-table-column>
            
            <o-table-column #diameter attr="diameter" title="diameter" type="real" min-decimal-digits="2" max-decimal-digits="4" min="0" max="1000000.0000" content-align="center"></o-table-column>
            
            <o-table-context-menu></o-table-context-menu>
            <o-table-paginator page-size-options="24;48;96"></o-table-paginator>
        </o-table>
    </div>
</o-form-layout-manager>