<div class="container">
<o-form-container breadcrumb="yes" breadcrumb-label-columns="name" breadcrumb-separator=", " class="fill-form">
      <o-form #form attr="Organ_form_edit" 
        service="Organ" 
        entity="Organ" 
        fxLayout="column" 
        show-header="yes" 
        header-actions="R;I;U;D"
        #oDetailForm keys="id" 
        keys-sql-types="INTEGER" 
        show-header-navigation="yes"
        (onDataLoaded)="onDataLoaded($event)">

  <o-row attr="row1" layout-align="start stretch">
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxFlex fxLayoutGap="14px">
      
      <o-text-input #name attr="name" label=" name*" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-list-picker 
        attr="system_id"
        service="OrganSystem" 
        entity="OrganSystemType"
        fxFlex="30" 
        query-on-init="no" 
        query-on-bind="yes" 
        required="no" 
        enabled="yes" 
        filter="yes"
        value-column="id" 
        value-column-type="INTEGER"  
        keys="id" 
        columns="id;system_id;name" 
        title="system_id"
        visible-columns="id;name" 
        separator=" - " width="680px" class="form-field">
</o-list-picker>
      
      <o-text-input #size attr="size" label="size" enabled="yes" required="no" fxFlex="20%" class="form-field"></o-text-input>
      
      <o-integer-input #id attr="id" label="id" type="integer" editable="no" required="no" ></o-integer-input>
      
    </div>
  </o-row>
      
      <mat-tab-group fxFill>
        
        <mat-tab label="BLOODVESSEL-organ_id">
    <div layout-padding>
      <o-table 
        attr="BloodVesselTable" 
        service="BloodVessel" 
        entity="BloodVessel" 
        keys="id"
        parent-keys="organ_id:id"
        columns="id;organ_id;Type;diameter"  
        horizontal-scroll="yes"
        detail-form-route="BloodVessel" 
        edit-form-route="BloodVessel"
        visible-columns="id;organ_id;Type;diameter"  
        sort-columns="id" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #id attr="id" title=" id*" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
          <o-table-column attr="organ_id" title="organ_id">
    <o-table-cell-renderer-service attr="organ_id" 
        service="Organ" entity="OrganType" columns="id;name"
        parent-keys="id:organ_id"
        value-column="name" keys="organ_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #Type attr="Type" title="Type" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #diameter attr="diameter" title="diameter" type="real" min-decimal-digits="2" max-decimal-digits="4" min="0" max="1000000.0000" content-align="center"></o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
        <mat-tab label="NERVE-organ_id">
    <div layout-padding>
      <o-table 
        attr="NerveTable" 
        service="Nerve" 
        entity="Nerve" 
        keys="id"
        parent-keys="organ_id:id"
        columns="name;organ_id;path;id"  
        horizontal-scroll="yes"
        detail-form-route="Nerve" 
        edit-form-route="Nerve"
        visible-columns="name;organ_id;path;id"  
        sort-columns="name" 
        query-rows="25" 
        quick-filter="yes"
        row-height="medium" 
        select-all-checkbox="true" 
        pageable="yes"  
        auto-adjust="true" 
        virtual-scroll="yes" 
        insert-button="yes" 
        delete-button="yes" 
        fixed-header="true" 
        class="vertical-padding-8"
        edition-mode="dblclick" 
        horizontal-scroll="yes" class="fill-form">
        
          <o-table-column #name attr="name" title=" name*" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column attr="organ_id" title="organ_id">
    <o-table-cell-renderer-service attr="organ_id" 
        service="Organ" entity="OrganType" columns="id;name"
        parent-keys="id:organ_id"
        value-column="name" keys="organ_id"
        visible-columns="name" separator=" - " width="680px">
    </o-table-cell-renderer-service>
</o-table-column>
        
          <o-table-column #path attr="path" title="path" editable="no" required="no" content-align="left"></o-table-column>
        
          <o-table-column #id attr="id" title="id" type="integer" editable="no" required="no" content-align="center"></o-table-column>
        
        <o-table-paginator page-size-options="25;50;100"></o-table-paginator>
      </o-table>
    </div>
</mat-tab>
        
      </mat-tab-group>
      
    </o-form>
  </o-form-container>
</div>